.card {
    font-family: arial;
    font-size: 20px;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.kanjipopup {
    font-family: arial;
    font-size: 20px;
    text-align: center;
}
.kanjipopup ruby rt { visibility: hidden; }
.kanjipopup ruby:active rt { visibility: visible; }
.kanjipopup ruby:hover rt { visibility: visible; }